html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  background-color: #edeff1;
  color: #072340;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #072340;
  height: 150px;
  padding: 20px;
  color: white;
}

.portfolio-preview {
  height: 100%;
}

.descHeader {
  color: #666666;
}

.descValue {
  color: #0bb241;
}

.card-title {
  text-align: left;
}

.currency-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-auto-flow: column;
}

.currency-exposure {
  width: 200px;
  line-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-right: 1em;
}

.currency-colorbox {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 0px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.asset-allocation {
  text-align: left;
}

.progress {
  background-color: inherit;
  height: 1.25rem;
  font-size: 1rem;
}

.asset-weight-value {
  margin-left: 1em;
}